/nbproject/private/
/downloader/
/errors/
/includes/
/js/
/lib/
/pkginfo/
/shell/
/var/
/app/code/community/
/app/code/core/
/app/design/adminhtml/
/app/design/install/
/app/design/frontend/base/
/app/design/frontend/default/
/app/skin/adminhtml/
/app/skin/install/
/app/skin/frontend/base/
/app/skin/frontend/default/




